@import "variables";
@import "typography";

//global
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}
nav {
  ul {
    list-style: none;
  }
  li a {
    text-decoration: none;
    padding: 0.5rem;
  }
}
img {
  max-width: 100%;
  display: block;
}

// header styles and animation to change colors
header {
  width: 100%;
  height: 15rem;
  padding: 1rem;
  background-color: $mainBlue;
  &:hover {
    animation: header 1s linear 2 alternate;
  }
}
@keyframes header {
  0% {
    background-color: $mainBlue;
  }
  25% {
    // background-color: #5abec0;
    background-color: #506898;
  }
  50% {
    // background-color: #8e9bd4;
    background-color: #889d6b;
  }
  75% {
    // background-color: #b7c0e3;
    background-color: #a1b558;
  }
  100% {
    // background-color: #ffffff;
    background-color: $accentYellow;
  }
}

//footer
footer {
  padding: 1rem;
  background-color: $accentYellow;
}

//featured projects layout

.project-container {
  display: flex;
  flex-wrap: wrap;
  .feature-one,
  .feature-two,
  .feature-three {
    padding: 0.5rem;
  }
}

//featured projects transitions
.feature-one {
  .img-one {
    transition: transform 1s ease-in-out 100ms;
  }
}
.feature-one:hover .img-one {
  transform: translate(20px, 20px);
}
