@import "variables";
@import "typography";

//global
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}
nav {
  ul {
    list-style: none;
  }
  li a {
    text-decoration: none;
    padding: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

// header styles and animation to change colors
header {
  position: relative;
  width: 100%;
  height: 15rem;
  padding: 1rem;
  background-color: $mainBlue;
  &:hover {
    animation: header 1s linear 2 alternate;
  }
}
@keyframes header {
  0% {
    background-color: $mainBlue;
  }
  25% {
    background-color: #506898;
  }
  50% {
    background-color: #889d6b;
  }
  75% {
    background-color: #a1b558;
  }
  100% {
    background-color: $accentYellow;
  }
}
//logo in header to drop down
header img {
  position: absolute;
  bottom: 0;
  animation: dropDown 1s ease 500ms forwards;
}
@keyframes dropDown {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

//footer
footer {
  padding: 1rem;
  background-color: $accentYellow;
}

//featured projects layout

.project-container {
  .feature-one,
  .feature-two,
  .feature-three {
    padding: 0.5rem;
  }
}

//featured projects transitions & animation
.feature {
  padding: 2rem;
  .feat-img {
    transition: transform 1s ease-in-out 100ms;
  }
}
.feature:hover .feat-img {
  transform: translate(20px, 20px);
  animation: feature-images 1s ease-in-out 100ms 2 alternate;
}

@keyframes feature-images {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

//main content styling
.intro {
  padding: 0.5rem;
}

h3 {
  padding: 0.5rem;
}
