@import "variables";
@import "typography";

//global
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}
nav {
  ul {
    list-style: none;
  }
  li a {
    text-decoration: none;
    padding: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

// header styles and animation to change colors
header {
  position: relative;
  width: 100%;
  height: 15rem;
  padding: 1rem;
  background-color: $mainBlue;
  animation: header 1s linear 2 alternate;
}
@keyframes header {
  0% {
    background-color: $mainBlue;
  }
  25% {
    background-color: #506898;
  }
  50% {
    background-color: #889d6b;
  }
  75% {
    background-color: #a1b558;
  }
  100% {
    background-color: $accentYellow;
  }
}

//logo in header to drop down
.main-header__logo {
  position: absolute;
  bottom: 0;
  animation: dropDown 1s ease 500ms forwards;
}
@keyframes dropDown {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

//footer
footer {
  padding: 1rem;
  background-color: $accentYellow;
}

// featured projects transitions
.feature {
  padding: 2rem;
  background-color: $black;
  .feature__img {
    transition: all 1s ease-in-out 100ms;
  }
  .feature__title {
    color: $accentYellow;
    padding: 0.5rem;
  }
}
.feature:hover .feature__img {
  transform: translate(20px, 20px);
  opacity: 0.5;
}

//main content styling
.intro {
  padding: 0.5rem;
}

.intro__title {
}

.intro__text {
}
