html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  img {
    display: block;
    max-width: 100%;
  }
  font-family: $font-fam;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

/* Home Page Grid Layout */

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 0;
  grid-template-areas:
    "header"
    "nav"
    "article"
    "side-bar"
    "footer";
  @include media-query("tab") {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "side-bar article article"
      "footer footer footer";
  }
}

/* Grid Items and Styles */
.head {
  grid-area: header;
  background-image: url("/images/hero-2000.jpg");
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  &-link {
    color: $yellow;
    padding: 3rem;
    font-size: 2rem;
    &:hover {
      color: $deep-blue;
    }
    @include media-query("mobile") {
      display: none;
    }
  }
}
.nav {
  grid-area: nav;
  background-color: $gray;
  @include navbar-links;
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include media-query("mobile") {
      display: block;
    }
  }
  &-item {
    padding: 0.5rem;
  }
}
.intro-article {
  grid-area: article;
  padding: 2rem;
  &-title {
    font-size: $h1-font-size;
  }
  &-quote {
    padding: 1rem;
    font-size: 1.5rem;
  }
  &-link {
    font-size: 2rem;
    color: $black;
    background-color: $yellow;
    border-radius: 5%;
    padding: 1rem;
    &:hover {
      color: $deep-blue;
    }
  }
  &-content {
    font-size: $content-font-size;
  }
}
.side {
  grid-area: side-bar;
  padding: 2rem;
  &-title {
    font-size: $h2-font-size;
  }
  &-list-item {
    padding: 1rem;
    font-size: $content-font-size;
  }
}
.footer {
  grid-area: footer;
  background-color: $gray;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &-nav {
    @include navbar-links;
  }
  &-nav-item {
    padding: 0.5rem;
  }
}

/* Icon Styling */
.socials-link {
  color: $deep-blue;
  padding-right: 1rem;
  &:hover {
    color: $yellow;
  }
}
.fa-square-check {
  color: $deep-blue;
  padding: 0.5rem;
}
.fa-square-phone {
  padding: 0.5rem;
}
