html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.container {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 1rem;
  grid-template-areas:
    "header"
    "nav"
    "article"
    "side-bar"
    "footer";
  @include media-query("tab") {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "side-bar article article"
      "footer footer footer";
  }
}
.head {
  grid-area: header;
}
.nav {
  grid-area: nav;
}
.intro-article {
  grid-area: article;
}
.side {
  grid-area: side-bar;
}
.footer {
  grid-area: footer;
}
