@mixin navbar-links {
  ul {
    list-style: none;
  }
  li a {
    text-decoration: none;
    padding: 0.5rem;
    color: $black;
    font-size: $nav-link-size;
    &:hover {
      cursor: pointer;
      color: $deepBlue;
    }
  }
}
