// Colors
$deep-blue: #0025cc;
$yellow: #ffde32;
$black: #000000;
$gray: #d3d3d3;

$font-fam: "League Spartan", "Gill Sans", sans-serif;
$h1-font-size: 3rem;
$h2-font-size: 2rem;
$content-font-size: 1.25rem;
$nav-link-size: 1.25rem;
